@use "sass:math";

$outerWidth: 1100px;
$spacer: 50px;

$brand-red: #ea433a;
$brand-mustard: #cc9300;
$brand-purple: #b327bf;
$brand-blue: #66f;
$brand-seafoam: #00bf9a;
$link-color: rgb(101, 22, 221);

@import url("~normalize.css");
// NOTE: We're using a `.bp-` namespace to indicate these are the boilerplate
// styles.
@import "./scss/_settings";
@import "./scss/_type";
@import "./scss/_layout";
@import "./scss/_welcome";
@import "./scss/_widgets";

@import "./scss/columns";
