.footer {
  background-color: $gray-500;
  padding: 30px;

  &__main {
    background-color: $white;
    padding: 30px;
    
    @media (min-width: 1024px) {
      padding: 0 30px;
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
		img {
			width: 200px;
			height: auto;
		}
	}

  ul {
    display: flex;
    padding-left: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  &__nav-items {

    ul {
      display: block;

      @media (min-width: 1024px) {
        display: flex;    
      }
    }

    li {
      margin: 20px 0px;

      @media (min-width: 1024px) {
        margin: 0 20px;
      }
    }
    
    a {
      color: #464646;
    }
  }

  &__social-items {
    li {
      margin: 0 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__copyright {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
  }

} 