$amaranth: #ef2d56;
$black-pearl: #0d1b2a;
$midnight-express: #1b263b;
$chambray: #415a77;
$ship-cove: #778da9;
$black-squeeze: #e0e1dd;
$valencia: #d64545;

// Theme colour variables
$primary: $black-pearl;
$secondary: $amaranth;
$tertiary: $midnight-express;
$success: $midnight-express;
// $info: $cyan;
// $warning: $yellow;
$danger: $valencia;

$border-radius: 0;
