.navigation {
	padding: 30px;
	margin: 0 15px;
	overflow: hidden;
  
	@media (min-width: 1024px) {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
  
	a {
	  text-decoration: none;
	}
  
	&__logo {
		img {
			width: 180px;
			height: auto;
		}
	}
  
	&__nav-items {
	  display: none;
	  
	  @media (min-width: 1024px) {
		display: block;
	  }
  
	  ul {
		padding-left: 0;
		list-style: none;
  
		@media (min-width: 1024px) {
		  display: flex;
		}
	  }
  
	  li {
		margin: 20px 0;
  
		@media (min-width: 1024px) {
		  margin: 0 15px;
		}

		a {
			color: $primary;
			font-weight: 400;
		}
	  }
	}

	&__show {
		display: block;
	}
  
	&__user-items {
		display: flex;
	}
  
	&__menu-btn {
	  display: block;
  
	  @media (min-width: 1024px) {
		display: none;
	  }
	}
  }