@import "../../../../asset/ui/src/scss/theme";

.team-widget {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__profile {
    margin-bottom: 20px;
    text-align: center;
  }
  &__profile--three-col {
    flex: 0 0 33.333333%;
  }
  &__profile--four-col {
    flex: 0 0 25%;
  }
  &__profile-image {
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
  }
  &__name {
  }
  &__work-title {
    text-transform: uppercase;
  }
}
