<h2>Sign up form widget</h2>

{% set layout = data.widget.layout %}
{% set style = data.widget.backgroundStyle %}

{% if style === 'image' %}
  {% set backgroundImage = apos.image.first(data.widget._backgroundImage) %}
  {% set backgroundPath = apos.attachment.url(backgroundImage, {size: 'max'}) %}
{% else %}
  {% set backgroundColor = data.widget.backgroundColor %}
{% endif %}

<section 
  class="sign-up sign-up--{{ layout }}"
  style="
    {{ 'background-image: url(' + backgroundPath + ')' if style === 'image' and layout === 'background'  }}
    {{ 'background: ' + backgroundColor + '' if style === 'color' and layout === 'background' }}
  "
>
  <div class="sign-up__column-item">
    <div>
      {% area data.widget, 'content' %}
    </div>
    <div>
      {% area data.widget, 'signUpForm' %}
    </div>
  </div>
  {% if layout === 'column' %}
    <div class="sign-up__column-item">
      {% set image = apos.image.first(data.widget._backgroundImage) %}

      <img class="img-fluid" src="{{ apos.attachment.url(image, {size: 'full'}) }}" alt="{{ image.title }}" >
    </div>
  {% endif %}
</section>