@import "../../../../asset/ui/src/scss/variables";

.custom-form {
  display: flex;

  &--background {
    background-position: 50% 50%;
    background-size: cover;

    align-items: center;
    justify-content: center;
  }

  &--column {
    justify-content: space-around;
  }
  &__column-item {
    flex-basis: 50%;
  }
}
