@import "../../../../asset/ui/src/scss/variables";

.side-by-side {
  display: flex;
  &__column-item {
    width: 50%;
    &:first-child {
      margin-right: 20px;
    }
    &.invert {
      order: 1;
      margin-right: 0;
      margin-left: 20px;
    }
  }
}
