@import "../../../asset/ui/src/scss/variables";

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 100px;
  background-position: 50% 50%;
  background-size: cover;
  color: $secondary;

  &--basic {
    height: 50vh;
    height: 50svh;
  }
  &--large-marquee {
    height: 100vh;
    height: 100svh;
  }

  &--left {
    align-items: flex-start;
  }
  &--centered {
    align-items: center;
  }
  &--right {
    align-items: flex-end;
  }
}
