@import "../../../../asset/ui/src/scss/variables";

.pricing {
  padding: 2rem;
  background: $secondary;
  &__title {
    text-align: center;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  .card {
    border-radius: $border-radius;
    padding: 2rem;
    width: 350px;
    background: $white;
    color: $primary;
    &:nth-child(even) {
      background: none;
      border: 1px solid $sea-green;
      color: $primary;
    }
    &--pricing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__label {
      margin-bottom: 0.5rem;
      font-weight: 700;
      color: $sea-green;
      text-transform: uppercase;
    }
    &__feature-list {
      padding-left: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
        display: flex;
      }
      li:before {
        margin-right: 10px;
        font-weight: 700;
        color: $sea-green;
        content: "\2713";
      }
    }
  }
}
