<h2>Subscription Form Widget</h2>

{% set layout = data.widget.layout %}
{% set style = data.widget.backgroundStyle %}

{% if style === 'image' %}
  {% set backgroundImage = apos.image.first(data.widget._backgroundImage) %}
  {% set backgroundPath = apos.attachment.url(backgroundImage, {size: 'max'}) %}
{% else %}
  {% set backgroundColor = data.widget.backgroundColor %}
{% endif %}

<section 
  class="subscription-form custom-form custom-form--{{ layout }} {{ 'container' if layout === 'column' }}"
  style="
    {{ 'background-image: url(' + backgroundPath + ')' if style === 'image' and layout === 'background'  }}
    {{ 'background: ' + backgroundColor + '' if style === 'color' and layout === 'background' }}
  "
>
  <div class="custom-form__column-item">
    <div>
      {% area data.widget, 'content' %}
    </div>
    <div>
      <form class="my-form" action="#">
        <input class="my-form__input" type="email" placeholder="email">
        <button class="my-form__submit" type="submit">Submit</button>
      </form>
      {# {% area data.widget, 'form' %} #}
    </div>
  </div>
  {% if layout === 'column' %}
    <div class="custom-form__column-item">
      {% set image = apos.image.first(data.widget._backgroundImage) %}

      <img class="img-fluid" src="{{ apos.attachment.url(image, {size: 'full'}) }}" alt="{{ image.title }}" >
    </div>
  {% endif %}
</section>