@import "../../../../asset/ui/src/scss/theme";

.custom-form {
  display: flex;
  gap: 2rem;

  &--background {
    background-position: 50% 50%;
    background-size: cover;

    align-items: center;
    justify-content: center;

    color: $white;
    text-align: center;
  }

  &--column {
    justify-content: space-around;
  }
  &__column-item {
    flex-basis: 50%;
  }
}
