@import "../../../../asset/ui/src/scss/variables";

.menu {
  &__list {
    &.split {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin-bottom: 2rem;
    &.split {
      flex-basis: 50%;
      &:nth-child(even) {
        padding-left: 2rem;
      }
    }
    &__title {
      display: flex;
      justify-content: space-between;
    }
  }
}
