{% import "ui.html" as ui %}

{% fragment footer(data) %}
<div class="footer">
  <div class="footer__main">
    <div class="footer__logo">
      {{ ui.image(data.global.logo) }}
    </div>

    <div class="footer__nav-items">
      <ul>
        {% for nav in data.global.footerNav %}
          {% set path = apos.helper.linkPath(nav) %}
          <li>
            <a href="{{ path }}" aria-label="{{ nav.ariaLabel }}">{{ nav.linkText }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="footer__social-items">
      <ul>   
        {% for social in data.global.social %}
        <li>
          <a target="_blank" href="{{ social.link }}">
            <img src="/images/social-icons/{{ social.icon }}.svg" />
          </a>
        </li>
        {% endfor %}     
      </ul>
    </div>
  </div>

  <div class="footer__copyright">
    Copyright. All rights reserved by <a href="">Company</a>
  </div>

</div>
{% endfragment %}