.btn-widget {
  display: flex;
  align-items: center;
  width: 100%;
  &:not(:first-child) {
    margin-top: 20px;
  }

  &--alignment-left {
    justify-content: flex-start;
  }
  &--alignment-center {
    justify-content: center;
  }
  &--alignment-right {
    justify-content: flex-end;
  }
  &--block-true .btn {
    display: block;
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    width: auto;
    &:not(:first-child) {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
