.btn-widget {
  display: flex;

  &--alignment-left {
    justify-content: flex-start;
  }
  &--alignment-center {
    justify-content: center;
  }
  &--alignment-right {
    justify-content: flex-end;
  }
  &--block-true .btn {
    display: block;
    width: 100%;
  }
}
